.bg-image {
  background-image: url("fondo.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(5px);
}
body{
  color: white;
}
.poderes{
  text-align: right;
}
.poderes:hover{
 transform: scale(3.0);
}
.ski:hover{
  transform: scale(2.5);
}
